fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
llama-index
pgvector
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
boto3
email-validator

llama-index
llama-index-vector-stores-postgres
llama-index-llms-openai
openai
llama-index-embeddings-huggingface